.price__title{
    font-size: 3rem;
    text-align: center;
    color: var(--text-color-1);
}
.price__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    gap: 30px;
    overflow: hidden;

}

@media(max-width:1280px) {
    .price__container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:688px) {
    .price__container {
        grid-template-columns: 1fr;
    }
}