.filler{
    background-color: var(--bg-color-2);
    height: fit-content;
}

.filler__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 15px;
}

@media(max-width:930px){
    .filler__container{
        flex-direction: column;
        gap: 40px;
    }
}


