.about{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__container{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 500px;
}

.about__title{
    background-color: var(--bg-color-2);
    width: 20%;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 6vh;
        text-transform: uppercase;
        
    }
}

.about__content{
    display: flex;
    flex-direction: column;
    gap: 20px;

    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: var(--text-color-3);
        background-color: var(--bg-color-3);
        height: 100%;
    }
}