.place{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.place__title{
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
    color: var(--text-color-1);
}

.place__container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "box-1 box-3 box-5"
        "box-1 box-4 box-5"
        "box-2 box-4 box-6";
    gap: 15px;
    height: fit-content;

}

.place__box {

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width:768px) {
    .place__container {
        grid-template-areas:
            "box-1 box-3"
            "box-1 box-4"
            "box-2 box-4"
            "box-6 box-6"
            "box-5 box-5";
    }
}