.home{
    height: calc(100dvh - 72px);
    position: relative;
}
.home__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    p{
        color: var(--text-color-1);
        text-transform: uppercase;
        font-size: min(7rem,10vw);
    }
}

.bgVideo {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.bgVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgVideo::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.932); /* Ajuste a opacidade (0.2 - 0.7) */
}
