.header{
    width: min(1400px, 95%);
    padding: 20px 0;
    margin: auto;
    color: var(--text-color-1);
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__socials{
    display: flex;
    justify-content: center;
    gap: 10px;
    
    a{
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--text-color-1);
    }
}