.cascate{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(7rem,10vw);
    color: var(--text-color-1);
    text-transform: uppercase;
    position: relative;
    width: 100%;
    height: 1.4em;
    overflow:hidden;
}

.cascate__word{
    position: absolute;
}

:global(.cascate__letter){
    display: inline-block;
}