@import url(https://db.onlinewebfonts.com/c/7f84c82115f70a63b5307518164b53dc?family=A2+CWM+WEB+Bold);
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "A2 CWM WEB Bold";
}

:root{
    --bg-color-1:#0f0f0f;
    --bg-color-2:#fdca38;
    --bg-color-3:#242424;
    
    --text-color-1:#fdca38;
    --text-color-2:#0f0f0f;
    --text-color-3:#b1b1b1;

    --border-color-1:#4e4e4e77;
}

body{
    background-color: var(--bg-color-1);
}
